{% extends "base.html" %}

{% block title %} FlatRoute Home {% endblock title %}

{% block content %}

<div id="map"></div>

<div id="preferences">
    <h2>Preferences</h2>
    <div class="radio-group">
    <label class="radio-label"> Max. steepness: </label>
    <label>
      <input type="radio" name="option" value="low">
      Low
    </label>
    <label>
      <input type="radio" name="option" value="medium">
      Medium
    </label>
    <label>
      <input type="radio" name="option" value="high">
      High
    </label>
  </div>
</div>



{% endblock content %}