{% extends "base.html" %}

{% block title %} FlatRoute Home {% endblock title %}

{% block content %}

<div id="map"></div>

<div id="search-box">
    <div class="row">
        <h3>Route Planner</h3>
    </div>
    <div class="row mt-3">
        <div class="col-3">
            <h4>Point A</h4>
        </div>
        <div class="col-9">
            <input type="text" name="point_A">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3">
            <h4>Point B</h4>
        </div>
        <div class="col-9">
            <input type="text" name="point_B">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3"></div>
        <div class="col">
            <button class="btn btn-primary" id="search-button">Search</button>
        </div>
        <div class="col-3"></div>
    </div>
</div>

<div id="preferences">
    <h2>Preferences</h2>
    <div class="radio-group">
        <label class="radio-label"> Max. steepness: </label>
        <label>
            <input type="radio" name="option" value="low">
            Low
        </label>
        <label>
            <input type="radio" name="option" value="medium">
            Medium
        </label>
        <label>
            <input type="radio" name="option" value="high">
            High
        </label>
    </div>
</div>

{% endblock content %}